<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sp4u_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_sp4u"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_sp4u"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UserProfileActivity" />
        <activity android:name=".UserProfile2Activity" />
        <activity android:name=".UserProfile3Activity" />
        <activity android:name=".RegisterEstablishmentPrincipalActivity" />
        <activity android:name=".RegisterEstablishmentAdressActivity" />
        <activity android:name=".RegisterEstabilishmentConfigDescriptionActivity" />
        <activity android:name=".FeelsActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterEstablishmentActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".WelcomeLocalActivity" />
        <activity android:name=".WelcomeMusicActivity" />
        <activity android:name=".RegisterEstablishmentMusicActivity" />
        <activity android:name=".RegisterEstablishmentLocalActivity" />
        <activity android:name=".RegisterEstablishmentFiltersActivity" />
        <activity android:name=".AdditionalFiltersActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>