<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sp4u_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_sp4u"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_sp4u"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.user.UserProfileConfigActivity" />
        <activity android:name=".activity.user.UserProfileEmailActivity" />
        <activity android:name=".activity.user.UserProfilePasswordActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentPrincipalActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentAdressActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentConfigDescriptionActivity" />
        <activity android:name=".activity.FeelsActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.register.RegisterActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentActivity" />
        <activity android:name=".activity.ResultActivity" />
        <activity android:name=".activity.welcome.WelcomeLocalActivity" />
        <activity android:name=".activity.welcome.WelcomeMusicActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentMusicActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentLocalActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentFiltersActivity" />
        <activity android:name=".activity.AdditionalFiltersActivity" />
        <activity android:name=".activity.register.RegisterEstablishmentConfigActivity" />

        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>